html{
   scroll-behavior: smooth;
}

:root {
   --color-primary: #00C3B9;
   --color-secondary: #555555;
   --color-accent:#D1D5DB;
   --color-neutral: #001716;
   --text-6xl:80px;
   --text-4xl:64px;
}

.rdp-selected .rdp-day_button {
    border: 2px solid #00C3B9 !important;
    color: #00C3B9 !important;
}

.rdp-chevron {
   fill: #00C3B9 !important;
}